﻿@page
@model Assignment_CloudApp.Pages.Invoices.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InvoiceClass</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceClass.customername)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceClass.customername)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceClass.customeraddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceClass.customeraddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceClass.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceClass.date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceClass.invoiceno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceClass.invoiceno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceClass.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceClass.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceClass.invoicetotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceClass.invoicetotal)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="InvoiceClass.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
