﻿@page
@model Assignment_CloudApp.Pages.Invoices.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>InvoiceClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InvoiceClass.Id" />
            <div class="form-group">
                <label asp-for="InvoiceClass.customername" class="control-label"></label>
                <input asp-for="InvoiceClass.customername" class="form-control" />
                <span asp-validation-for="InvoiceClass.customername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceClass.customeraddress" class="control-label"></label>
                <input asp-for="InvoiceClass.customeraddress" class="form-control" />
                <span asp-validation-for="InvoiceClass.customeraddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceClass.date" class="control-label"></label>
                <input asp-for="InvoiceClass.date" class="form-control" />
                <span asp-validation-for="InvoiceClass.date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceClass.invoiceno" class="control-label"></label>
                <input asp-for="InvoiceClass.invoiceno" class="form-control" />
                <span asp-validation-for="InvoiceClass.invoiceno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceClass.description" class="control-label"></label>
                <input asp-for="InvoiceClass.description" class="form-control" />
                <span asp-validation-for="InvoiceClass.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceClass.invoicetotal" class="control-label"></label>
                <input asp-for="InvoiceClass.invoicetotal" class="form-control" />
                <span asp-validation-for="InvoiceClass.invoicetotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
