﻿@page
@model Assignment_CloudApp.Pages.Invoices.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceClass[0].customername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceClass[0].customeraddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceClass[0].date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceClass[0].invoiceno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceClass[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceClass[0].invoicetotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InvoiceClass) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customeraddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoiceno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoicetotal)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
