﻿@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
    <p>Please use the buttons at the top to return</p>
    <p>If this reoccurs, please contact your support representative with the "Request ID" above so we can confirm what is causing this error</p>
}
