﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><span style="font-weight:bold;">Welcome</span></h1>
    <h3><span style="font-weight:normal;">Thankyou for choosing to use this application.</span></h3>
    <p>There are links at the top of this page that you can use to get around.</p>
    <p>We recommend starting with <a asp-area="" asp-page="/Invoices/Create">create</a> to add your first invoice</p>
</div>
